<div class="fridge">
  <h1><%= @fridge.name %> </h1>
  <div class="location">
    <h5><%= link_to 'Edit', edit_fridge_path %> | <%= link_to "Delete Fridge", fridge_path(@fridge.id), method: :delete, data: { confirm: 'This will delete all locations and food in the fridge. Are you sure?' }  %></h5>

    <%= @fridge.location %>
  </div>
  <div class="location">
    <h2>Add a fridge location:</h2>
    <%= render 'locations/location_form' %>
  </div>
</div>
