<% fridge.location.each do |loc| %>
<h3><%= loc.name %> | Volume: <%= loc.volume %></h3>
    <ul>
    <% loc.foods.each do |food| %>
        <div><%= image_tag food.picture if food.picture.attached? %></div>
        <li><%= food.name %></li>
        <li><%= food.opened %></li>
        <li><%= food.expiry_after_open %></li>
        <li><%= food.expiry %></li>
        <li><%= food.volume %></li>
        <li><%= food.location[:name] %></li>
        <li><%= link_to "Show", food %> | <%= link_to 'Edit', edit_food_path(food.id) %> | <%= link_to "Delete", food_path(food.id), method: :delete %> </li>
    <% end %>
    </ul>
<% end %>