<div class="location-container">
  <% fridge.location.each do |loc| %>
    <h3><%= loc.name %> | Volume: <%= loc.volume %></h3>
    <div class="location-food-content">
      <ul> 
        <div>
          <% loc.foods.each do |food| %>
              <div id="lo-fo-image"><%= image_tag food.picture if food.picture.attached? %></div>
              <li>Name: <%= food.name %></li>
              <li>Opened: <%= food.opened %></li>
              <li>Expiry after opened:<%= food.expiry_after_open %></li>
              <li>Expiry: <%= food.expiry %></li>
              <li>Expired: <%= food.expired? %></li>
              <li>Volume: <%= food.volume %></li>
              <li>Location: <%= food.location[:name] %></li>
              <%= link_to "Show", food %> | <%= link_to 'Edit', edit_food_path(food.id) %> | <%= link_to "Delete", food_path(food.id), method: :delete %>
          <% end %>
        </div>
      </ul>
    </div>
  <% end %>
</div>