<% if @fridges %>
<div class="home-column">
  <% @fridges.each do |fridge| %>
    <div class="fridge">
        <h2><%= fridge.name %></h2>
        <h5><%= link_to 'Show', fridge %> | <%= link_to "Add a shelf", new_fridge_location_path(fridge) %> | <%= link_to "Add food",  new_fridge_food_path(fridge) %> </h5>
        <% fridge.location.each do |loc| %>
      <ul class="location">
        <h3><%= loc.name %> | Volume: <%= loc.volume %></h3>
          <% loc.foods.each do |food| %>
            <div><%= image_tag food.picture if food.picture.attached? %></div>
            <li><h4>Name: <%= food.name %></h4></li>
            <li>Opened: <%= food.opened %></li>
            <li>Expiry after opened:<%= food.expiry_after_open %></li>
            <li>Expiry: <%= food.expiry %></li>
            <li>Expired: <%= food.expired? %></li>
            <li>Volume: <%= food.volume %></li>
            <p><%= link_to "Show", food %> | <%= link_to 'Edit', edit_fridge_food_path(fridge.id,food.id) %> | <%= link_to "Delete", food_path(food.id), method: :delete %></p>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
<div class="home-column">
<h3>Current food status:</h3>
<% if !@expiring_foods.empty? || !@expired_foods.empty? %>
  <% if !@expiring_foods.empty?  %>
  <div class="expiring">
  <h3>Expiring food:</h3>
    <ul>
      <% @expiring_foods.each do |food| %>
        <li><%= food.name %> are expiring in <%= food.days_to_expiry %> <%= food.days_to_expiry > 1 ? 'days' : 'day' %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if !@expired_foods.empty? %>
  <div class="expired">
    <h4>Expired food:<h4>
    <ul>
      <% @expired_foods.each do |food| %>
        <li><%= food.name %> has expired</li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <h4>All foods within their dates.</h4>
<% end %>
</div>