<h1>Foods</h1>
<ul class="box">
<% @foods.each do |food| %>
    <li class="box">
      <h2><%= food.name %></h2>
      <p><%= food.opened %></p>
      <p><%= food.expiry_after_open %></p>
      <p><%= food.expiry %></p>
      <p><%= food.volume %></p>
      <p><%= food.location_id %></p>
    </li>
<% end %>
</ul>