<h1>Foods</h1>

<% @foods.each do |food| %>
    <p><%= food.name %></p>
    <p><%= food.opened %></p>
    <p><%= food.expiry_after_open %></p>
    <p><%= food.expiry %></p>
    <p><%= food.volume %></p>
    <p><%= food.location_id %></p>
<% end %>