<% if @fridges %>
  <% @fridges.each do |fridge| %>
    <ul class="fridge box">
      <li>
        <h2><%= fridge.name %></h2>
        <h5><%= link_to 'Show', fridge %></h5>
        <%= link_to "Add food", new_food_path%>
      </li>
        <% fridge.location.each do |loc| %>
      <ul class="fridge">
        <h3><%= loc.name %> | Volume: <%= loc.volume %></h3>
          <% loc.foods.each do |food| %>
            <div><%= image_tag food.picture if food.picture.attached? %></div>
            <li><%= food.name %></li>
            <li><%= food.opened %></li>
            <li><%= food.expiry_after_open %></li>
            <li><%= food.expiry %></li>
            <li><%= food.volume %></li>
            <li><%= food.location[:name] %></li>
            <li><%= link_to "Show", food %> | <%= link_to 'Edit', edit_food_path(food.id) %> | <%= link_to "Delete", food_path(food.id), method: :delete %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= link_to "Add a Fridge", new_fridge_path %>