<h1>Foods</h1>

<% if @fridges %>
    <% @fridges.each do |fridge| %>
        <h2><%= fridge.name %></h2><h5><%= link_to 'Show', fridge %></h5>
        <%= link_to "Add food", new_food_path%>
        <%= render 'shared/display_fridge_contents', fridge: fridge %>
    <% end %>
<% end %>

<%= link_to "Add a Fridge", new_fridge_path %>