<div class="fridge">
  <div class="location">
    <h1><%= @food.name %></h1>
    <p><%= image_tag @food.picture if @food.picture.attached? %></p>
    <p>Expires: <%= @food.expiry %></p>
    <p>Expired: <%= @food.expired? ? "Yes, throw it out." : "Expires in #{@food.days_to_expiry} days" %></p>
    <p>Opened: <%= "#{@food.opened?.to_i} days ago." %></p>
    <p>Expiry After Opening: <%= @food.expiry_after_open %></p>
    <p>Volume: <%= @food.volume %></p>
    <p>Location: <%= @food.location[:name] %></p>
    <p><%= link_to 'Edit', edit_food_path %>|<%= link_to "Delete", food_path, method: :delete %>|<%= link_to "Back", foods_path %></p>
  </div>
</div>
