<h1><%= @food.name %></h1>

<p><%= image_tag @food.picture if @food.picture.attached? %></p>
<p>Expires: <%= @food.expiry %></p>
<p>Opened: <%= @food.opened %></p>
<p>Expiry After Opening: <%= @food.expiry_after_open %></p>
<p>Volume: <%= @food.volume %></p>
<p>Location: <%= @food.location_id %></p>
<p><%= link_to 'Edit', edit_food_path %>|<%= link_to "Delete", food_path, method: :delete %></p>
