<h3><%= location.name %> | Volume: <%= location.volume %></h3>
    <ul>
    <% location.foods.each do |food| %>
        <div><%= image_tag food.picture if food.picture.attached? %></div>
        <li><%= food.name %></li>
        <li><%= food.opened %></li>
        <li><%= food.expiry_after_open %></li>
        <li><%= food.expiry %></li>
        <li><%= food.volume %></li>
        <li><%= food.location_id %></li>
        <li><%= link_to "Show", food %> | <%= link_to 'Edit', edit_food_path(food.id) %> | <%= link_to "Delete", food_path(food.id), method: :delete %> </li>
    <% end %>
    <li>
        <%= link_to 'Delete location', [location.fridge, location],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </li>
    </ul>