<%= form_with(model: @fridge, local: true, class: 'loc-form') do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :volume %>
    <%= form.number_field :volume %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>