<h1>Edit Location</h1>
<%= form_with(model: @location, local: true) do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :volume %><br>
    <%= form.number_field :volume %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>